<li>
<div class="h-feed hfeed">
   <div class="p-name site-title">Johannes Hove-Henriksen</div>
      <div class="p-summary site-description">This is a blog about linux open source and suckless stuf i like</div>
  <article class="h-entry hentry">
    <time class="dt-published published" datetime="$DATET09:45:57-07:00">$DATE</time>
      <a class="p-name entry-title" href="$URL">$TITLE</a>
    </a>
    <address class="p-author author h-card vcard">
      <a href="https://t9.no" class="u-url url p-name fn" rel="author">johs</a>
    </address>
  </article>
</div>
</li>
