<!DOCTYPE html>
<html>
	<head>
		<title>$PAGE_TITLE</title>
        	<meta charset="UTF-8">
        	<meta name="viewport" content="width=device-width, initial-scale=1">
        	<link rel="icon" href="./ME_400x400.jpg">
        	<link rel="stylesheet" href="./style.css">
        	<meta name="description" content="Johannes Hove-Henriksen">
        	<link rel="alternate" type="application/rss+xml" href="http://t9.no/rss.xml">
        	<link rel="alternate" type="application/atom+xml" href="http://t9.no/atom.xml">
        	<link rel="webmention" href="https://webmention.io/t9.no/webmention">
        	<link rel="pingback" href="https://webmention.io/t9.no/xmlrpc">
		<link rel="authorization_endpoint" href="https://indieauth.com/auth">
		<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
		<link rel="microsub" href="https://aperture.p3k.io/microsub/762">
	</head>
<body>
      <div class="h-card">
       <div class="center">
	 <div class="left">
	 	<a href="index.html">Blog</a> |
	 	<a href="./git" title="Git repository with some of my projects">Git</a> |
	 	<a href="./uses.html" title="Uses">Uses</a> |
	 	<a href="./memes" title="memes">Memes</a>

	 </div>
	 <div class="right">


		<a href="twtxt.txt">Twtxt</a> |
		<a href="atom.xml">Atom</a> |
		<a href="rss.xml">RSS</a> |
		<a href="pgp.asc">PGP</a> |
		<a href="mailto:johannes@hove-henriksen.no">Mail</a>
	  </div>
	</div>
<br>
<br>
