<a class="u-url" href="http://t9.no"><h1>$TITLE</h1></a>

<p class="p-given-name">Johannes</p> <p class="p-family-name">Hove-Henriksen</p> <p>is</p> <p class="p-note">Linux hacker</p> <p>from</p>
<abbr class="p-region" title="Bergen">Bergen</abbr><p>, </p><p class="p-country-name">Norway</p><p>.</p>
<a class="u-email" href="mailto:johannes@hove-henriksen.no" rel="me">johannes@hove-henriksen.no</a>
<div class="p-nickname">johs</div>
<br>
<img class="u-photo" alt="photo of johs" src="./ME_400x400.jpg" width="100" height="100"/>
</div>
